div(style='margin:0;border:0;padding:16px;padding-top:48px;')
  h1(align='center') #{app_title}
  h2(align='center') Your Access is Approved
  br
  p(align='center') #{name}, you can now access #{app_title} by clicking the button below:
  br
  div(align='center')
    a(style=`background-color:${primary_color};color:${primary_contrast_color};text-decoration:none;padding:1rem;border-radius:100px;` href=`${default_url}`)
      | Visit #{app_title}
  br
  p(align='center' style='margin-top: 64px;') Or, paste the following link into your browser:
  div(align='center')
    a(href=`${default_url}`) #{default_url}
