div(style='font-family:monospace;font-weight:bold;margin:2rem;')
  h1(align='center') You Are Invited To
  h2(align='center') #{app_title}
  br
  p(align='center')
    | #{name}, please accept your invitation by clicking the button below:
  br
  div(align='center')
    a(style=`background-color:${primary_color};color:${primary_contrast_color};text-decoration:none;padding:1rem;border-radius:100px;` href=`${invitation_url}`)
      | Accept Invite
  br
  p(align='center' style='margin-top: 4rem;') Or, paste the following link into your browser:
  div(align='center')
    a(href=`${invitation_url}`) #{invitation_url}
  footer(style='font-size:small;margin:10rem 2rem;')
    | You received this email because you are invited to #{app_title}.
