div(style='font-family:monospace;font-weight:bold;margin:2rem;')
  h1(align='center') Confirm your Email Address
  h2(align='center') At #{app_title}
  br
  p(align='center')
    | #{name}, please verify your email by clicking the button below:
  br
  div(align='center')
    a(style=`background-color:${primary_color};color:${primary_contrast_color};text-decoration:none;padding:1rem;border-radius:100px;` href=`${verification_url}`)
      | Verify Email
  br
  p(align='center' style='margin-top: 4rem;') Or, paste the following link into your browser:
  div(align='center')
    a(href=`${verification_url}`) #{verification_url}
  p(align='center') This email verification is only valid for 12 hours.
  footer(style='font-size:small;margin:10rem 2rem;')
    | You received this email because you signed up or changed your email at #{app_title}, if you didn&apos;t, please ignore this email and do not click any buttons or links.
