div(style='margin:0;border:0;padding:16px;padding-top:48px;')
  h1(align='center') #{app_title}
  h2(align='center') Reset Your Password
  br
  p(align='center')
    | #{name}, you can reset your password by clicking the button below:
  br
  div(align='center')
    a(style=`background-color:${primary_color};color:${primary_contrast_color};text-decoration:none;padding:1rem;border-radius:100px;` href=`${reset_url}`)
      | Reset Password
  br
  p(align='center' style='margin-top: 64px;') Or, paste the following link into your browser:
  div(align='center')
    a(href=`${reset_url}`) #{reset_url}
  p(align='center' style='margin-top:32px;') This password reset link is only valid for 2 hours.
  p(align='center' style='font-size:small;margin:160px 32px;')
    | You received this email because you requested a password reset at #{app_title}, if you didn't, please ignore this email and do not click any buttons or links.